<!--<pre>{{instance | json}}</pre>-->
<!--<pre>-->
<!--{{dataForm.value | json}}-->
<!--</pre>-->

<div class="">

  <h3 class="uk-margin-medium-top uk-width-3-4 uk-align-center">Data Provision</h3>

  <div *ngIf="instance">

    <form [formGroup]="dataForm" role="form" class="uk-form uk-margin uk-width-3-4 uk-align-center uk-form-horizontal">

      <div class="formContainer uk-margin-large-bottom">

        <h6>{{instance['metadata']['version']}} of {{instance['type']}}</h6>
        <h6 class="uk-margin-remove-top">created on {{instance['metadata']['dates'][0]['value']}} by {{instance['metadata']['creators'][0]['creatorName']}}</h6>

        <h5>Filter By</h5>

        <div class="uk-margin-large-bottom">
          <label class="uk-form-label uk-text-right" for="dateFrom">
            Date From:
          </label>
          <div class="uk-form-controls uk-margin-top">
            <input id="dateFrom" class="uk-input uk-width-9-10" type="date" lang="gr"
                   formControlName="dateFrom">
          </div>
        </div>

        <div class="uk-margin-large-bottom">
          <label class="uk-form-label uk-text-right" for="dateTo">
            Date To:
          </label>
          <div class="uk-form-controls uk-margin-top">
            <input id="dateTo" class="uk-input uk-width-9-10" type="date" lang="gr"
                   formControlName="dateTo">
          </div>
        </div>

        <div formArrayName="publishers" class="uk-margin-large-bottom">
          <label class="uk-form-label uk-text-right" for="publishers">
            Publisher
          </label>
          <div class="uk-form-controls uk-margin-medium-top">
            <div *ngFor="let publisher of getFieldAsFormArray('publishers').controls; let i=index"
                 class="uk-margin-bottom">
              <input id="publishers" class="uk-input uk-width-9-10 uk-animation-slide-top-small"
                     type="text" [formControlName]="i">
              <a *ngIf="getFieldAsFormArray('publishers').length > 1"
                 class="remove-element uk-padding-small"
                 (click)="remove('publishers', i)">
                <i class="" aria-hidden="true">X</i>
              </a>
            </div>
            <div class="uk-width-9-10 uk-text-center uk-margin-medium-top">
              <a class="add-new-element"
                 (click)="push('publishers')">
                <i class="" aria-hidden="true"></i>+ Add Publisher
              </a>
            </div>
          </div>
        </div>

        <div formArrayName="journals" class="uk-margin-large-bottom">
          <label class="uk-form-label uk-text-right" for="journals">
            Journal
          </label>
          <div class="uk-form-controls uk-margin-medium-top">
            <div *ngFor="let journal of getFieldAsFormArray('journals').controls; let i=index"
                 class="uk-margin-bottom">
              <input id="journals" class="uk-input uk-width-9-10 uk-animation-slide-top-small"
                     type="text" [formControlName]="i">
              <a *ngIf="getFieldAsFormArray('journals').length > 1"
                 class="remove-element uk-padding-small"
                 (click)="remove('journals', i)">
                <i class="" aria-hidden="true">X</i>
              </a>
            </div>
            <div class="uk-width-9-10 uk-text-center uk-margin-medium-top">
              <a class="add-new-element"
                 (click)="push('journals')">
                <i class="" aria-hidden="true"></i>+ Add Journal
              </a>
            </div>
          </div>
        </div>

        <div formArrayName="projects" class="uk-margin-large-bottom">
          <label class="uk-form-label uk-text-right" for="projects">
            Project
          </label>
          <div class="uk-form-controls uk-margin-medium-top">
            <div *ngFor="let project of getFieldAsFormArray('projects').controls; let i=index"
                 class="uk-margin-bottom">
              <input id="projects" class="uk-input uk-width-9-10 uk-animation-slide-top-small"
                     type="text" [formControlName]="i" placeholder="project name / project acronym">
              <a *ngIf="getFieldAsFormArray('projects').length > 1"
                 class="remove-element uk-padding-small"
                 (click)="remove('projects', i)">
                <i class="" aria-hidden="true">X</i>
              </a>
            </div>
            <div class="uk-width-9-10 uk-text-center uk-margin-medium-top">
              <a class="add-new-element"
                 (click)="push('projects')">
                <i class="" aria-hidden="true"></i>+ Add Project
              </a>
            </div>
          </div>
        </div>

<!--        TODO: disable if no filter is filled -->
        <button type="submit" class="uk-button uk-button-primary uk-margin-left" [ngClass]="!dataForm?'disabled':''">Get my data</button>
      </div>

    </form>

  </div>
</div>
